/* IMPOSTAZIONI GENERALI  a 412 width*/
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
}
* {
    box-sizing: border-box;
}
h1 {
    font-size: 4rem;
    line-height: 1.2;
}
h2 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin: 1rem auto;
}
h3 {
    line-height: 1;
    font-weight: 500;
}
hr {
    border: transparent;
}

.button {
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(57,47,122,1) 100%);
    padding: 1.2rem 1.5rem;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

/* HEADER */
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 2rem;
    box-shadow: 0 3px 13px #d3d3d3;
}
.fas, .far, .fa {
    color: #e42424;
    font-size: 2rem;
}

nav li {
    display: inline-block;
    display: none;
    margin: 3px;
}
nav a {
    text-decoration: none;
}
nav .button-register {
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(57,47,122,1) 100%);
    padding: 1rem;
}
.button-register a {
    color: white;
    font-size: 1.3rem;
}

/* MAIN */
main {
    width: 90%;
    margin: 0 auto;
}

.coder {
    margin-top: 5rem;
    text-align: center;
}

.images {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.images img {
    max-width: 90%;
    margin: 1.5rem auto;
}

.tablelowres {
    margin: 3rem auto;
}

.tablelowres tbody {
    font-size: 1rem;
}

.tablelowres caption {
    font-size: 2rem;
}

.tablelowres tr td:nth-of-type(odd) {
    font-weight: bold;
}

.tablelowres td {
    padding: 0.5rem;
}

.azurebackground {
    background-color: #D2DCE7;
}

.tablehighres {
    text-align: center;
}

.tablehighres thead {
    background-color: #5F82A3;
}

.tablehighres tbody {
    font-size: 1rem;
}

.tablehighres td {
    padding: 1rem;
}

.tablehighres tbody tr:nth-of-type(odd) {
    background-color: #D2DCE7;
}

/* FOOTER */
footer {
    background-color: rgb(238, 238, 238);
    padding: 3rem 2rem 5rem 2rem;
}
footer section {
    display: flex;
    flex-direction: column;
}
footer div {
    margin: 1.5rem 0;
}
footer p {
    margin-top: 1.5rem;
}
footer i {
    margin-top: 1.5rem;
}
#email {
    margin-bottom: 0rem;
}
footer .button {
    color: white;
    margin-top: 0rem;
    display:block
}

/* RESPONSIVE */
@media screen and (max-width:767px) {
    .tablehighres {
        display: none;
    }
}

@media screen and (min-width:768px) {
    header .fas {
        display: none;
    }
    nav li {
        display: inline-block;
    }
    div img {
        width: 130%;
    }
    main p {
        font-size: 1.2rem;
    }
    .images {
        flex-direction: row;        
    }
    .tablelowres {
        display: none;
    }
    .tablehighres {
        height: 40vh;
        margin: 3rem auto;
    } 
}